page-perfil {
    /*.imgbtn8 {
        background-image: url("../assets/imgs/male.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 300px;
    }*/
}